
  <section id="categorias" class="padded bg-white">
    <div class="has-bg-img">
    <div class="container p-3 my-3">
      <div class="d-flex justify-content-center">
      <h2>ESCOJE TU MEJOR CATEGORIA</h2>
       </div>
      <div class="btn-group d-flex justify-content-center " role="group" aria-label="Basic checkbox toggle button group">
    <button type="button" class="btn btn-outline-danger">COMIDA CRIOLLA</button>
    <button type="button" class="btn btn-outline-danger">COMIDA SELVATICA</button>
    <button type="button" class="btn btn-outline-danger">POSTRES</button>
    <button type="button" class="btn btn-outline-danger">PARRILLAS</button>
    
      </div>  
    </div>
    <div class="d-flex justify-content-center">
    <img src="assets/a2.jpg" class="img-center" alt="...">  
    </div> 
    </div>
  </section>