<div class="carta">
<div class="container p-3 my-3">
    <div class="d-flex justify-content-center">
    <h2>Ofertas Especiales</h2>
     </div>
<br>
<br>
<div class="col-sm2-c d-flex justify-content-center">
<div class="btn-group-vertical  "  role="group" aria-label="Basic checkbox toggle button group" >
    <input type="checkbox" class="btn-check" id="btncheck1" autocomplete="off">
    <label class="btn btn-outline-warning" for="btncheck1">AJI DE GALLINA S/. 20</label>
    <br>
    <input type="checkbox" class="btn-check" id="btncheck2" autocomplete="off">
    <label class="btn btn-outline-danger" for="btncheck2">LOMO SALTADO S/. 35</label>
    <br>
    <input type="checkbox" class="btn-check" id="btncheck1" autocomplete="off">
    <label class="btn btn-outline-success" for="btncheck1">CALDO DE GALLINA S/. 25</label>
    <br>
    <input type="checkbox" class="btn-check" id="btncheck2" autocomplete="off">
    <label class="btn btn-outline-secondary" for="btncheck2">TALLARINES VERDES S/. 30</label>
     
  </div>
  
  <div class="btn-group-vertical "  role="group" aria-label="Basic checkbox toggle button group" >
    <input type="checkbox" class="btn-check" id="btncheck1" autocomplete="off">
    <label class="btn btn-outline-warning" for="btncheck1">POLLO A LA BRASA S/. 28</label>
    <br>
    <input type="checkbox" class="btn-check" id="btncheck2" autocomplete="off">
    <label class="btn btn-outline-danger" for="btncheck2">PARRILLADA S/. 40</label>
    <br>
    <input type="checkbox" class="btn-check" id="btncheck1" autocomplete="off">
    <label class="btn btn-outline-success" for="btncheck1">CEVICHE MEXITO S/. 35</label>
    <br>
    <input type="checkbox" class="btn-check" id="btncheck2" autocomplete="off">
    <label class="btn btn-outline-secondary" for="btncheck2">ARROZ CHAUFA S/. 26</label>
     
  </div>
  <div id="img">
    <img src="assets/gallery1.jpg" class="rounded float-start" alt="...">
    
    </div>
</div>

</div>
