<div class="d-flex justify-content-center" id="fondo">
    <h2>ESCOJE TU MEJOR CATEGORIA</h2>
</div>
<br>
<br>
<div class="row">
    <div class="col-lg-4 col-md-12 mb-4 mb-lg-0">
    <a href="" title="DESAYUNOS">
      <img
        src="assets/a1.jpg"
        class="w-100 shadow-1-strong rounded mb-4"
        alt=""
      /></a>
      <a href="" title="ENTRADAS">
        <img
        src="assets/gallery2.jpg"
        class="w-100 shadow-1-strong rounded mb-4"
        alt=""
      /></a>
    </div>
  
    <div class="col-lg-4 mb-4 mb-lg-0">
    <a href="" title="REPOSTERIA">
      <img
        src="assets/b.jpg"
        class="w-100 shadow-1-strong rounded mb-4"
        alt=""
      /></a>
      <a href="" title="SOPAS">
      <img
        src="assets/c1.jpg"
        class="w-100 shadow-1-strong rounded mb-4"
        alt=""
      /></a>
    </div>
  
    <div class="col-lg-4 mb-4 mb-lg-0">
        <a href="" title="PLATOS FRIOS">
      <img
        src="assets/c2.jpg"
        class="w-100 shadow-1-strong rounded mb-4"
        alt=""
      /></a>
      <a href="" title="COMIDA RAPIDA">
      <img
        src="assets/gallery3.jpg"
        class="w-100 shadow-1-strong rounded mb-4"
        alt="Yosemite National Park"
      /></a>
    </div>
  </div>
