<div class="d-flex justify-content-center">
  <h2>PORQUE ELEGIRNOS</h2>
</div>
<br>
<br>
<div class="d-flex justify-content-center">
  <div class="container">
    <div class="row">
      <div class="col-sm">
        <figure class="figure">
          <img src="assets/chefh2.jpg" class="figure-img img-fluid rounded" alt="...">
        </figure>
      </div>
      <div class="col-sm">
        <br>
        <br>
        <br>
        <br>
        <h1>Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusatium doloremque laudantium totam apeam eaque ipsa quae abillo invtore verittis et quasi architecto beatae vitae dicta sunt explicabo. Nemo enim ipsam voluptatem quiluptas.</h1>
        <br>
        <br>
        <button type="button" class="btn btn-outline-danger">Conocenos</button>
      </div>
    </div>
</div>