<section id="nosotros2" class="padded">
    <div class="container">
      <h2>Nosotros</h2>
     <!--Debido a la cantidad de chefts de la base de datos no agregamos las fotos en el servicio web-->
      <div class="row row-cols-1 row-cols-md-3 g-4">
    <!-- se crea el ngfor para que se replique la imagen y se mustre en toda la interfaz -->
        <div class="nosotros2"  *ngFor="let item of listaNosotros2">
          <div class="card">
            <img src="https://picsum.photos/540" class="card-img-top" alt="...">
            <div class="card-body">
                <h5 class="card-title">{{item.name}} {{item.country}}</h5>
                <small>{{item.country}}</small>
            </div>
          </div>
        </div>
  
      </div>
  
    </div>
  </section>